* {
  box-sizing: border-box;
}
:root {
  --backgroundgray: #a9a9a9;
}
body {
  background-color: var(--backgroundgray);
}
.timeline {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}
.c1box1 {
  margin-bottom: auto 50px;
}
