* {
  box-sizing: border-box;
}
:root {
  --backgroundgray: #a9a9a9;
}
body {
  background-color: var(--backgroundgray);
}
.timeline {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
ul {
  width: 100%;
  padding: 0;
}
li {
  border: solid;
}
